BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Left
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AlignTrailingComments: false
AlignOperands: DontAlign
PenaltyBreakTemplateDeclaration: 20
ColumnLimit: 80
